<!DOCTYPE html>
<html>
<head>
    <title>Vytvoriť inzerát o ceste</title>
</head>
<body>
    <h1>Vytvoriť inzerát o ceste</h1>
    <form method="post" action="/add_rides">
        <label>From_location</label>
        <input type="text" name="from_location" required>
        <label>To_location</label>
        <input type="text" name="to_location" required>
        <label>Date</label>
        <input type="text" name="date" required>
        <label>Notes</label>
        <input type="text" name="notes">
        <input type="submit" value="Pridať inzerát">
    </form>
</body>
</html>