<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>Vyhladaj cestu</title>
</head>
<body>
    <!-- Join Ride Form -->
    <div class="box-outer">
        <form name="join_ride_form" method="post" action="/join_ride">
            <h2 class="heading">Join Ride</h2>
            <input type="hidden" name="ride_id" value="123"> <!-- Replace with actual ride ID -->
            <label>First Name</label>
            <input type="text" name="first_name" class="input-control" placeholder="Your first name">
            <label>Last Name</label>
            <input type="text" name="last_name" class="input-control" placeholder="Your last name">
            <label>Email</label>
            <input type="text" name="email" class="input-control" placeholder="Your email address">
            <label>New Password</label>
            <input type="password" name="password" class="input-control">
            <input type="submit" name="submit" class="button" value="Join Ride">
        </form>
    </div>
    <!-- Form End -->
</body>
</html>